.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.redes{
  margin-right: 0.5em;

}

.redes button{
  margin: 2em;
}

#instagram{
  margin: 25px;
}

#logoAP{
  width: 150px;
}

img{
  width: 40px;
}

//*--- Para la vista de celular ---*///
@media (max-width: 575px) {
  .container{
    flex-direction: column;
  }

  .redes{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .redes img{
    margin: 0.3em;
  }

  .redes button{
    margin: 1em;
  }
}

